<div class="mb-3">
  <label for="filterTextColor" class="form-label">Search Color</label>
  <input type="text" [(ngModel)]="filterTextColor" class="form-control" id="filterTextColor" placeholder="Type the color name">
</div>
<div *ngIf="filterTextColor.length > 2" class="alert alert-info">
  {{filterTextColor}} searched
</div>

<ul class="list-group">
  <li [class]="getAllColorClass()" routerLink = "/cars">All Colors</li>
  <li (click)="setCurrentColor(color)" routerLink = "/cars/color/{{color.id}}" *ngFor="let color of colors | filterColor:filterTextColor" [class]="getCurrentColorClass(color)">
  {{color.colorName}}</li>
</ul>
<br>