<div class="mb-3">
  <label for="filterTextBrand" class="form-label">Search Brand</label>
  <input type="text" [(ngModel)]="filterTextBrand" class="form-control" id="filterTextBrand" placeholder="Type the brand name">
</div>
<div *ngIf="filterTextBrand.length > 2" class="alert alert-info">
  {{filterTextBrand}} searched
</div>

<ul class="list-group">
  <li [class]="getAllBrandClass()" routerLink = "/cars">All Brands</li>
  <li (click)="setCurrentBrand(brand)" routerLink = "/cars/brand/{{brand.id}}" *ngFor="let brand of brands | filterBrand:filterTextBrand" [class]="getCurrentBrandClass(brand)">
  {{brand.brandName}}</li>
</ul>