<section class="section section-shaped section-lg">
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
    <table class="table table-bordered text-center rentar-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Brand Name</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands">
          <td>{{ brand.id }}</td>
          <td>{{ brand.brandName }}</td>
          <td>
            <button routerLink = "update/{{brand.id}}" type="button" class="btn btn-warning">Update</button>
            <button (click)="delete(brand)" type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-2 text-left">
      <a routerLink="/brands/add" class="text-light">
        <small>Add new brand</small>
      </a>
    </div>
</section>

