<div class="row">
  <div class="card" style="width: 36rem;">
    <img src="https://localhost:44371/uploads/{{car.imagePath}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">{{car.brandName}} ({{car.modelYear}})</h4>
      <br>
      <p class="card-text"><strong>Color: </strong>{{car.colorName}}</p>
      <p class="card-text"><strong>Transmission: </strong>{{car.description}}</p>
      <p class="card-text"><strong>Daily Price: </strong>{{car.dailyPrice}}$</p>
      <a href="#" class="btn btn-primary">Rent</a>
    </div>
  </div>
</div>
