<main>
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
      <div class="shape shape-style-1 shape-dark">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="container shape-container d-flex align-items-center">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/brand/argon-white.png" style="width: 200px;" class="img-fluid">
              <p class="lead text-white">Cheap & Fast Deliver & Safe! Start Renting Today with <strong>RENTAR</strong>!</p>
              <div class="btn-wrapper mt-5">
                <a routerLink="/cars" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-car"></i></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">LOOK</span> RENTAR CARS</span>
                </a>
              </div>
              <!-- <div class="mt-5">
                <small class="text-white font-weight-bold mb-0 mr-2">*this template coded by:</small>
                <a href="https://www.creative-tim.com/"><img src="./assets/img/brand/creativetim-white-slim.png" style="height: 28px;"></a> 
              </div> -->
            </div>
            
          </div>

        </div>
      </div>

      <br>
      <br>

      <div class="mt-5">
        
        <div class="col-md form-group">
          <div class="row justify-content-center">

            <div class="col-3" ngbDropdown>
              <label class="text-light">Pick Up & Return</label>
              <select class="btn btn-secondary dropdown-toggle custom-select" aria-labelledby="dropdownMenuButton" ngbDropdownToggle>
                  <option value="0">Ankara Esenboga Airport</option>
              </select>
            </div>

            <div class="col-2">
              <label for="rent-start-date-input" class="datepicker-label text-light">Pick-Up Date:</label>
              <input
                name="rentStartDate"
                class="form-control datepicker"
                type="datetime-local"
                id="rent-start-date-input"
              />
            </div>
            
            <div class="col-2">
              <label for="rent-start-date-input" class="datepicker-label text-light">Return Date:</label>
              <input
                name="rentStartDate"
                class="form-control datepicker"
                type="datetime-local"
                id="rent-start-date-input"
              />
            </div>

            <div class="space"></div>

            <div>
              <br>
              <a appMaintenance class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--icon"><i class="ni ni-active-40"></i></span>
                <span class="btn-inner--text">SEARCH</span>
              </a>
            </div>

          </div>

        </div>
      </div>

      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <!-- <app-sections></app-sections> -->
</main>
