.custom-select {
  width: 315px;
  color: rgb(77, 77, 77);
  z-index: 1;
}

.space-1{
  margin-left: -15px;
}

.space-2{
  margin-left: 72px;
}

.custom-button {
  margin-left: 240px;
  height: 48px;
  z-index: 1;
}

.button2 {
  margin-left: 192px;
  height: 48px;
  z-index: 1;
}

.button3 {
  margin-left: 128px;
  height: 48px;
  z-index: 1;
}
