<div class="row mb-2">
    <div class="col col-4">
        <select [ngModel]="brandFilter" (ngModelChange)="onChangeBrandFilter($event)" class="form-select form-select-lg mb-3">
            <option value="0">Filter for the Brands</option>
            <option *ngFor="let brand of brands" [value]="brand.id">{{brand.brandName}}</option>
        </select>
    </div>

    <div class="col col-4">
        <select [ngModel]="colorFilter" (ngModelChange)="onChangeColorFilter($event)" class="form-select form-select-lg">
            <option value="0">Filter for the Colors</option>
            <option *ngFor="let color of colors" [value]="color.id">{{color.colorName}}</option>
        </select> 
    </div>

    <div class="col col-4 d-grid gap-2 d-md-block">
        <button [disabled]="brandFilter === 0 || colorFilter === 0" routerLink="filter/{{brandFilter}}/{{colorFilter}}" type="button" class="btn btn-lg btn-primary me-md-4">Filter</button>
        <button [disabled]="brandFilter === 0 && colorFilter === 0" (click)="resetFilter()" type="button" class="btn btn-secondary btn-lg btn-danger">Clear</button>
    </div>
</div>